# NBA POINT Scored by players using KNN Algorithm

In [47]:
import numpy as np
import pandas as pd

In [48]:
NBA_dataset = pd.read_csv("nba_2013.csv")

In [49]:
NBA_dataset.shape

(481, 31)

In [50]:
NBA_dataset.head(6)

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013
5,Cole Aldrich,C,25,NYK,46,2,330,33,61,0.541,...,92,129,14,8,30,18,40,92,2013-2014,2013

In [51]:
NBA_dataset.columns

Index(['player', 'pos', 'age', 'bref_team_id', 'g', 'gs', 'mp', 'fg', 'fga',
       'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft',
       'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf',
       'pts', 'season', 'season_end'],
      dtype='object')

In [52]:
NBA_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 31 columns):
player          481 non-null object
pos             481 non-null object
age             481 non-null int64
bref_team_id    481 non-null object
g               481 non-null int64
gs              481 non-null int64
mp              481 non-null int64
fg              481 non-null int64
fga             481 non-null int64
fg.             479 non-null float64
x3p             481 non-null int64
x3pa            481 non-null int64
x3p.            414 non-null float64
x2p             481 non-null int64
x2pa            481 non-null int64
x2p.            478 non-null float64
efg.            479 non-null float64
ft              481 non-null int64
fta             481 non-null int64
ft.             461 non-null float64
orb             481 non-null int64
drb             481 non-null int64
trb             481 non-null int64
ast             481 non-null int64
stl             481 non-null int64
blk             481 non-null int64
tov             481 non-null int64
pf              481 non-null int64
pts             481 non-null int64
season          481 non-null object
season_end      481 non-null int64
dtypes: float64(5), int64(22), object(4)
memory usage: 109.0+ KB

In [53]:
# "Position (pos)" is the class attribute we are predicting. 
class_column = 'pos'

In [54]:
feature_columns = ['g', 'gs', 'mp', 'fg', 'fga',
       'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft',
       'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf','pts']

In [55]:
from sklearn.utils import shuffle
NBA_dataset =  shuffle(NBA_dataset)

In [56]:
NBA_dataset["pos"] = NBA_dataset.pos.str.get_dummies()
NBA_dataset.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
53,Vander Blue,0,21,BOS,3,0,15,2,4,0.500,...,3,3,1,0,0,2,1,5,2013-2014,2013
258,Doron Lamb,0,22,ORL,53,0,695,63,160,0.394,...,41,49,43,11,1,27,54,191,2013-2014,2013
227,Antawn Jamison,0,37,LAC,22,0,248,29,92,0.315,...,46,55,7,9,3,7,29,84,2013-2014,2013
304,Mike Miller,0,33,MEM,82,4,1707,213,443,0.481,...,177,207,130,26,5,77,95,579,2013-2014,2013
240,Darius Johnson-Odom,0,24,PHI,3,0,15,0,7,0.000,...,2,2,1,1,0,2,3,0,2013-2014,2013

In [57]:
NBA_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 481 entries, 53 to 322
Data columns (total 31 columns):
player          481 non-null object
pos             481 non-null int64
age             481 non-null int64
bref_team_id    481 non-null object
g               481 non-null int64
gs              481 non-null int64
mp              481 non-null int64
fg              481 non-null int64
fga             481 non-null int64
fg.             479 non-null float64
x3p             481 non-null int64
x3pa            481 non-null int64
x3p.            414 non-null float64
x2p             481 non-null int64
x2pa            481 non-null int64
x2p.            478 non-null float64
efg.            479 non-null float64
ft              481 non-null int64
fta             481 non-null int64
ft.             461 non-null float64
orb             481 non-null int64
drb             481 non-null int64
trb             481 non-null int64
ast             481 non-null int64
stl             481 non-null int64
blk             481 non-null int64
tov             481 non-null int64
pf              481 non-null int64
pts             481 non-null int64
season          481 non-null object
season_end      481 non-null int64
dtypes: float64(5), int64(23), object(3)
memory usage: 114.6+ KB

In [58]:
NBA_dataset["x3p."].head()

53     0.000000
258    0.400000
227    0.195122
304    0.459227
240    0.000000
Name: x3p., dtype: float64

In [59]:
NBA_dataset.isnull().sum()

player           0
pos              0
age              0
bref_team_id     0
g                0
gs               0
mp               0
fg               0
fga              0
fg.              2
x3p              0
x3pa             0
x3p.            67
x2p              0
x2pa             0
x2p.             3
efg.             2
ft               0
fta              0
ft.             20
orb              0
drb              0
trb              0
ast              0
stl              0
blk              0
tov              0
pf               0
pts              0
season           0
season_end       0
dtype: int64

In [60]:
NBA_dataset["x3p."] = NBA_dataset["x3p."].fillna(method='backfill')
NBA_dataset["ft."] = NBA_dataset["ft."].fillna(method='backfill')
NBA_dataset["efg."] = NBA_dataset["efg."].fillna(method='backfill')
NBA_dataset["x2p."] = NBA_dataset["x2p."].fillna(method='backfill')
NBA_dataset["fg."] = NBA_dataset["fg."].fillna(method='backfill')

In [61]:
NBA_dataset.isnull().sum()

player          0
pos             0
age             0
bref_team_id    0
g               0
gs              0
mp              0
fg              0
fga             0
fg.             0
x3p             0
x3pa            0
x3p.            0
x2p             0
x2pa            0
x2p.            0
efg.            0
ft              0
fta             0
ft.             0
orb             0
drb             0
trb             0
ast             0
stl             0
blk             0
tov             0
pf              0
pts             0
season          0
season_end      0
dtype: int64

In [62]:
nba_feature = NBA_dataset[feature_columns]
nba_target = NBA_dataset[class_column]

In [63]:
nba_feature.isnull().sum()

g       0
gs      0
mp      0
fg      0
fga     0
fg.     0
x3p     0
x3pa    0
x3p.    0
x2p     0
x2pa    0
x2p.    0
efg.    0
ft      0
fta     0
ft.     0
orb     0
drb     0
trb     0
ast     0
stl     0
blk     0
tov     0
pf      0
pts     0
dtype: int64

In [64]:
nba_target.isnull().sum()

0

In [65]:
nba_feature.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 481 entries, 53 to 322
Data columns (total 25 columns):
g       481 non-null int64
gs      481 non-null int64
mp      481 non-null int64
fg      481 non-null int64
fga     481 non-null int64
fg.     481 non-null float64
x3p     481 non-null int64
x3pa    481 non-null int64
x3p.    481 non-null float64
x2p     481 non-null int64
x2pa    481 non-null int64
x2p.    481 non-null float64
efg.    481 non-null float64
ft      481 non-null int64
fta     481 non-null int64
ft.     481 non-null float64
orb     481 non-null int64
drb     481 non-null int64
trb     481 non-null int64
ast     481 non-null int64
stl     481 non-null int64
blk     481 non-null int64
tov     481 non-null int64
pf      481 non-null int64
pts     481 non-null int64
dtypes: float64(5), int64(20)
memory usage: 97.7 KB

In [66]:
len(nba_target)

481

In [67]:
# normalizing the values in the feature columns.

# When values are scaled between 0 to 1, all of the selected features contribute equally to distance computation
from sklearn import preprocessing
normalized_nba_feature = preprocessing.normalize(nba_feature)

In [68]:
from sklearn.model_selection import train_test_split

train_feature, test_feature, train_class, test_class = train_test_split(normalized_nba_feature, nba_target,
                                                                        train_size=0.75, test_size=0.25)

In [69]:
from sklearn.neighbors import KNeighborsClassifier
training_accuracy = []
test_accuracy = []

knn = KNeighborsClassifier(n_neighbors=7, weights='distance',  metric='minkowski', p=1)

knn.fit(train_feature, train_class)

prediction = knn.predict(test_feature)

In [70]:
print("Test set accuracy: {:.2f}".format(knn.score(test_feature, test_class)))

print("Confusion matrix:")

print(pd.crosstab(test_class, prediction, rownames=['True'], colnames=['Predicted'], margins=True))

Test set accuracy: 0.83
Confusion matrix:
Predicted    0   1  All
True
0           93   7  100
1           13   8   21
All        106  15  121

In [71]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(knn, normalized_nba_feature, nba_target, cv=10) #cv=10 for 10 folds

print("Cross-validation scores for each folds: {}".format(scores))

print("Average cross-validation score: {:.2f}".format(scores.mean()))

Cross-validation scores for each folds: [ 0.91836735  0.83333333  0.83333333  0.83333333  0.875       0.85416667
  0.77083333  0.85416667  0.8125      0.875     ]
Average cross-validation score: 0.85